<include file="Public:header"/>
<link href="__PUBLIC__/Admin/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
<!-- Sweet Alert -->
<link href="__PUBLIC__/Admin/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<style type="text/css">
    .ui-jqgrid tr.jqgrow td { white-space: normal !important; height:auto; }
</style>
<body>
<div id="wrapper">
    <include file="Public:menu"/>
    <div id="page-wrapper" class="gray-bg">
        <include file="Public:nav"/>
        <div class="wrapper wrapper-content  animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <!-- 筛选 start -->
                        <div class="ibox-title">
                            <div class="container-fluid">
                                <form class="form-inline" id="toolbar-form" onsubmit="return false;">
                                    <div class="row">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="name"
                                                   placeholder="分类名称" style="width: 100px">
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control" name="pid">
                                                <option value="">上级分类</option>
                                                <volist name="parent" id="item">
                                                    <option value="{$item.id}">{$item.name}</option>
                                                </volist>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control" name="state">
                                                <option value="">请选择状态</option>
                                                <option value="1">启用</option>
                                                <option value="2">禁用</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" id="toolbar-datepicker" name="create_from" class="form-control"
                                                   style="width: 180px;" placeholder="创建时间"/>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-sm btn-primary" id="toolbar-reset">重置
                                            </button>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-sm btn-primary" id="toolbar-search">查询
                                            </button>
                                        </div>
                                        <present name="buttonData.add">
                                            <div class="form-group pull-right">
                                                <button class="btn btn-sm btn-success" id="toolbar-create"
                                                        route="{$buttonData.add.path}">{$buttonData.add.title}
                                                </button>
                                            </div>
                                        </present>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- 筛选 end -->
                        <div class="ibox-content">
                            <!-- 表格 start -->
                            <div class="jqGrid_wrapper">
                                <table id="table"></table>
                                <div id="pager"></div>
                            </div>
                            <!-- 表格 end -->
                            <!-- 添加框 start -->
                            <div class="modal inmodal" id="save-modal" tabindex="-1" role="dialog"  aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content animated fadeIn">
                                        <div class="modal-body">
                                            <form class="form-horizontal" id="save-form">
                                                <input type="hidden" name="id">
                                                <div class="form-group">
                                                    <label class="control-label col-lg-2">分类名称</label>
                                                    <div class="col-lg-10">
                                                        <input type="text" class="form-control" name="name">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-lg-2">上级分类</label>
                                                    <div class="col-lg-10">
                                                        <select name="pid" class="form-control">
                                                            <option value="">一级分类</option>
                                                            <volist name="parent" id="item">
                                                                <option value="{$item.id}">{$item.name}</option>
                                                            </volist>
                                                        </select>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                                            <button type="button" class="btn btn-primary" onclick="edit()">保存</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 添加框 end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <include file="Public:footer"/>
    </div>
</div>
<include file="Public:js"/>
<include file="Public:methods"/>
<!-- jqGrid -->
<script src="__PUBLIC__/Admin/js/plugins/jqGrid/i18n/grid.locale-en.js"></script>
<script src="__PUBLIC__/Admin/js/plugins/jqGrid/jquery.jqGrid.min.js"></script>
<!-- Data picker -->
<script src="__PUBLIC__/Admin/js/plugins/datapicker/bootstrap-datepicker.js"></script>
<!-- Sweet alert -->
<script src="__PUBLIC__/Admin/js/plugins/sweetalert/sweetalert.min.js"></script>
<script>
    var listUrl = window.location;
    var addUrl = "{:U($buttonData['add']['path'])}";
    var editUrl = "{:U($buttonData['edit']['path'])}";
    var delUrl = "{:U($buttonData['del']['path'])}";
    var attrUrl = "{:U($buttonData['attr']['path'])}";
    $(document).ready(function () {
        var height = $(window).height();
        $("#table").jqGrid({
            url:listUrl,
            mtype: 'POST',
            datatype: "json",
            autowidth: true,
            shrinkToFit: true,
            viewrecords: true,
            hidegrid: false,
            height: height - 250,
            rowNum: 15,
            rowList: [15, 30],
            colNames: [ '名称','状态','创建时间','操作'],
            colModel: [
                {name: 'name',align:'center'},
                {name: 'state_str',align:'center',width:60,
                    formatter: function (value, grid, rows, state) {
                        var status,op = '<button type="button" class="btn btn-xs';
                        if(rows.state == 1){
                            op += ' btn-primary"';
                            status = 2;
                        }else{
                            op += ' btn-warning"';
                            status = 1;
                        }
                        if(editUrl)
                            op += ' onclick="modify(' + rows.id + ','+ status +')";';
                        return op + '">' + rows.state_str + '</button>';
                    }
                },
                {name: 'created_at_str',align:'center',width: 170},
                {name: 'operate', index: 'operate',width: 120,align:'center',
                    formatter: function (value, grid, rows, state) {
                        var op = '';
                        if(editUrl)
                            op += '<button type="button" class="btn btn-primary btn-xs" onclick="editOpen(\''+ rows.id+ '\');">编辑</button>&nbsp;';
                        if(delUrl)
                            op += '<button type="button" class="btn btn-danger btn-xs" onclick="modify(\''+ rows.id+ '\',3);">删除</button>';
                        return op;
                    }
                }
            ],
            pager: "#pager",
            jsonReader:{
                root:"data.list",
                records:"data.total"
            }
        });

        $('#toolbar-datepicker').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true
        });
    });
</script>
</body>
</html>