<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src="__PUBLIC__/Admin/img/profile_small.jpg" />
                             </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">David Williams</strong>
                             </span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span> </span> </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="profile.html">Profile</a></li>
                        <li><a href="contacts.html">Contacts</a></li>
                        <li><a href="mailbox.html">Mailbox</a></li>
                        <li class="divider"></li>
                        <li><a href="login.html">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>

            <volist name="menuData" id="menu">
                <empty name="menu.path">
                    <notempty name="menu.active">
                        <li class="active">
                    <else/>
                        <li>
                    </notempty>
                        <a href="#">
                            <span class="nav-label">{$menu.name}</span>
                            <span class="fa arrow"></span>
                        </a>
                        <notempty name="menu.active">
                            <ul class="nav nav-second-level collapse in">
                        <else/>
                            <ul class="nav nav-second-level collapse">
                        </notempty>
                        <volist name="menu.children" id="children">
                            <notempty name="children.active">
                            <li class="active">
                            <else/>
                            <li>
                            </notempty>
                                <a href="{:U($children['path'])}">{$children.name}</a>
                            </li>
                        </volist>
                        </ul>
                    </li>
                <else/>
                    <li>
                        <a href="{:U($menu['path'])}">
                            <span class="nav-label">{$menu.name}</span>
                        </a>
                    </li>
                </empty>
            </volist>
        </ul>
    </div>
</nav>