<include file="Public:header"/>
<link href="__PUBLIC__/Admin/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
<!-- Sweet Alert -->
<link href="__PUBLIC__/Admin/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<body>
<div id="wrapper">
    <include file="Public:menu"/>
    <div id="page-wrapper" class="gray-bg">
        <include file="Public:nav"/>
        <div class="ibox-content">
            <form class="form-horizontal" id="save-form">
                <div class="form-group">
                    <label class="col-sm-2 control-label">系统维护</label>
                    <div class="col-sm-4 switch">
                        <div class="onoffswitch" style="margin-top:6px;">
                            <if condition="$basic.system_run eq 1">
                            <input type="checkbox" checked class="onoffswitch-checkbox"
                                    id="switcher" name="system_run">
                            <else/>
                            <input type="checkbox" class="onoffswitch-checkbox"
                                    id="switcher" name="system_run">
                            </if>
                            <label class="onoffswitch-label" for="switcher">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">系统名称</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control"
                                name="system_name" value="{$basic.system_name}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">系统域名</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control"
                                name="system_domain" value="{$basic.system_domain}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">登录错误上限</label>
                    <div class="col-sm-2">
                        <div class="input-group">
                        <input type="text" class="form-control"
                                name="login_error" value="{$basic.login_error}">
                        <span class="input-group-addon">次</span>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <span class="help-block m-b-none">
                        密码错误次数达到上限后，禁止登录系统，填写0则表示可无限次数尝试
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">登录有效时长</label>
                    <div class="col-sm-2">
                        <div class="input-group">
                        <input type="text" class="form-control"
                                name="login_overtime" value="{$basic.login_overtime}">
                        <span class="input-group-addon">分钟</span>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <span class="help-block m-b-none">
                        后台超过登录有效时长，未进行任何操作，再操作需要重新登录
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-2">
                        <button type="button" class="btn btn-primary" onclick="edit()">保存</button>
                    </div>
                </div>
            </form>
        </div>
        <include file="Public:footer"/>
    </div>
</div>
<include file="Public:js"/>
<!-- Sweet alert -->
<script src="__PUBLIC__/Admin/js/plugins/sweetalert/sweetalert.min.js"></script>
<script>
    var editUrl = "{:U($buttonData['edit']['path'])}";
    function edit(){
        var switcher = $('#switcher');
        var s = switcher.prop('checked');
        s ? switcher.val(1) : switcher.val(0);
        var data = $('#save-form').serialize();
        $.ajax({
            type:'POST',
            url:editUrl,
            data:data,
            dataType:'json',
            success: function(res){
                if(res.code !== 1){
                    swal({
                        title:"失败",
                        text: res.code + res.msg,
                        type: "error",
                        confirmButtonText: "确认"
                    });
                }else{
                    swal({
                        title:"",
                        text: "成功",
                        type: "success",
                        showConfirmButton:false,
                        timer: 1000
                    },function(){
                        window.location.reload()
                    });
                }
            }
        });
    }
</script>
</body>
</html>