<include file="Public:header"/>
<link href="__PUBLIC__/Admin/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
<!-- Sweet Alert -->
<link href="__PUBLIC__/Admin/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<body>
<div id="wrapper">
    <include file="Public:menu"/>
    <div id="page-wrapper" class="gray-bg">
        <include file="Public:nav"/>
        <div class="ibox-content">
            <form class="form-horizontal" id="save-form">
                <volist name="basic" id="item">
                    <if condition="$item.input_type eq 1">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{$item.config_title}</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control"
                                       name="{$item.id}" value="{$item.config_value}">
                            </div>
                            <div class="col-sm-5">
                                <span class="help-block m-b-none">
                                    {$item.note}
                                </span>
                            </div>
                        </div>
                    <elseif condition="$item.input_type eq 2"/>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{$item.config_title}</label>
                            <div class="col-sm-4 switch">
                                <volist name="item.input_option" id="options">
                                    <div class="i-checks checkbox-inline">
                                        <label>
                                            <if condition="$item['config_value'] eq $options['value']">
                                                <input type="radio" value="{$options.value}" name="{$item.id}" checked="">
                                            <else/>
                                                <input type="radio" value="{$options.value}" name="{$item.id}">
                                            </if>
                                            <i></i>{$options.label}
                                        </label>
                                    </div>
                                </volist>
                            </div>
                        </div>
                    <elseif condition="$item.input_type eq 3"/>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{$item.config_title}</label>
                            <div class="col-sm-4 switch">
                                <div class="onoffswitch" style="margin-top:6px;">
                                    <if condition="$item.config_value eq 1">
                                        <input type="checkbox" checked class="onoffswitch-checkbox"
                                               id="switcher" name="{$item.id}">
                                    <else/>
                                        <input type="checkbox" class="onoffswitch-checkbox"
                                               id="switcher" name="{$item.id}">
                                    </if>
                                    <label class="onoffswitch-label" for="switcher">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </if>
                </volist>
                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-2">
                        <button type="button" class="btn btn-primary" onclick="edit()">保存</button>
                    </div>
                </div>
            </form>
        </div>
        <include file="Public:footer"/>
    </div>
</div>
<include file="Public:js"/>
<!-- Sweet alert -->
<script src="__PUBLIC__/Admin/js/plugins/sweetalert/sweetalert.min.js"></script>
<script>
    var editUrl = "{:U($buttonData['edit']['path'])}";
    function edit(){
        var switcher = $('#switcher');
        var s = switcher.prop('checked');
        s ? switcher.val(1) : switcher.val(0);
        var data = $('#save-form').serialize();
        $.ajax({
            type:'POST',
            url:editUrl,
            data:data,
            dataType:'json',
            success: function(res){
                if(res.code !== 1){
                    swal({
                        title:"失败",
                        text: res.code + res.msg,
                        type: "error",
                        confirmButtonText: "确认"
                    });
                }else{
                    swal({
                        title:"",
                        text: "成功",
                        type: "success",
                        showConfirmButton:false,
                        timer: 1000
                    },function(){
                        window.location.reload()
                    });
                }
            }
        });
    }
</script>
</body>
</html>