<include file="Public:header"/>
<link href="__PUBLIC__/Admin/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
<!-- Sweet Alert -->
<link href="__PUBLIC__/Admin/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<body>
<div id="wrapper">
    <include file="Public:menu"/>
    <div id="page-wrapper" class="gray-bg">
        <include file="Public:nav"/>
        <div class="wrapper wrapper-content  animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <div class="container-fluid">
                                <h3>{$roleInfo.name}</h3>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <form id="save-form" onsubmit="return false;">
                                <input name="id" type="hidden" value="{$roleInfo.id}">
                            <volist name="nodeData" id="node">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="checkbox checkbox-success checkbox-inline">
                                    <present name="node.checked">
                                        <input type="checkbox" name="access[]" id="inlineCheckbox_{$node.id}" value="{$node.id}" checked="checked">
                                    <else/>
                                        <input type="checkbox" name="access[]" id="inlineCheckbox_{$node.id}" value="{$node.id}">
                                    </present>
                                        <label for="inlineCheckbox_{$node.id}">{$node.name}</label>
                                    </div>
                                </div>
                                <present name="node.children">
                                <div class="panel-body">
                                    <volist name="node.children" id="access">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="checkbox checkbox-success checkbox-inline">
                                                <present name="access.checked">
                                                    <input type="checkbox" name="access[]" id="inlineCheckbox_{$access.id}" value="{$access.id}" checked="checked">
                                                <else/>
                                                    <input type="checkbox" name="access[]" id="inlineCheckbox_{$access.id}" value="{$access.id}">
                                                </present>
                                                    <label for="inlineCheckbox_{$access.id}">{$access.name}</label>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <fieldset>
                                                    <volist name="access.children" id="button">
                                                        <div class="checkbox checkbox-success checkbox-inline">
                                                        <present name="button.checked">
                                                            <input type="checkbox" name="access[]" id="inlineCheckbox_{$button.id}" value="{$button.id}" checked="checked">
                                                        <else/>
                                                            <input type="checkbox" name="access[]" id="inlineCheckbox_{$button.id}" value="{$button.id}">
                                                        </present>
                                                            <label for="inlineCheckbox_{$button.id}">{$button.name}</label>
                                                        </div>
                                                    </volist>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </volist>
                                </div>
                                </present>
                            </div>
                            </volist>
                            <div class="pull-right">
                                <button type="button" class="btn btn-white" onclick="history.go(-1)">返回</button>
                                <button type="button" class="btn btn-primary" onclick="saveAccess()">保存</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <include file="Public:footer"/>
    </div>
</div>
<include file="Public:js"/>
<!-- Sweet alert -->
<script src="__PUBLIC__/Admin/js/plugins/sweetalert/sweetalert.min.js"></script>
<script>
    function saveAccess(){
        var data = $('#save-form').serialize();
        $.ajax({
            type:'POST',
            url:window.location,
            data:data,
            dataType:'json',
            success: function(res){
                if(res.code !== 1){
                    swal({
                        title:"失败",
                        text: res.code + res.msg,
                        type: "error",
                        confirmButtonText: "确认"
                    });
                }else{
                    swal({
                        title:"",
                        text: "成功",
                        type: "success",
                        showConfirmButton:false,
                        timer: 1000
                    },function(){
                        window.location.reload()
                    });
                }
            }
        });
    }
</script>
</body>
</html>