<include file="Public:header"/>
<link href="__PUBLIC__/Admin/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
<!-- Sweet Alert -->
<link href="__PUBLIC__/Admin/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<body>
<div id="wrapper">
    <include file="Public:menu"/>
    <div id="page-wrapper" class="gray-bg">
        <include file="Public:nav"/>
        <div class="wrapper wrapper-content  animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <!-- 筛选 start -->
                        <div class="ibox-title">
                            <div class="container-fluid">
                                <form class="form-inline" id="toolbar-form" onsubmit="return false;">
                                    <div class="row">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="title"
                                                   placeholder="标题" style="width: 150px">
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control" name="location">
                                                <option value="">请选择位置</option>
                                                <option value="index">首页主</option>
                                                <option value="indexad">首页中</option>
                                                <option value="ziying">自营商城主</option>
                                                <option value="myad">个人中心主</option>
                                                <option value="video">影视中心</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control" name="state">
                                                <option value="">请选择状态</option>
                                                <option value="1">启用</option>
                                                <option value="2">禁用</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-sm btn-primary" id="toolbar-reset">重置
                                            </button>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-sm btn-primary" id="toolbar-search">查询
                                            </button>
                                        </div>
                                        <present name="buttonData.add">
                                            <div class="form-group pull-right">
                                                <button class="btn btn-sm btn-success" id="toolbar-create"
                                                        route="{$buttonData.add.path}">{$buttonData.add.title}
                                                </button>
                                            </div>
                                        </present>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- 筛选 end -->

                        <!-- 表格 start-->
                        <div class="ibox-content">
                            <div class="jqGrid_wrapper">
                                <table id="table"></table>
                                <div id="pager"></div>
                            </div>

                        </div>
                        <!-- 表格 end -->

                        <!-- 添加框 start -->
                        <div class="modal inmodal" id="save-modal" tabindex="-1" role="dialog"  aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content animated fadeIn">
                                    <div class="modal-body">
                                        <form class="form-horizontal" id="save-form" enctype="multipart/form-data">
                                            <input type="hidden" name="id">
                                            <div class="form-group">
                                                <label class="control-label col-lg-2">位置</label>
                                                <div class="col-lg-10">
                                                    <select class="form-control" name="location">
                                                        <option value="">请选择位置</option>
                                                        <option value="index">首页主</option>
                                                        <option value="indexad">首页中</option>
                                                        <option value="ziying">自营商城主</option>
                                                        <option value="myad">个人中心主</option>
                                                        <option value="video">影视中心</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-2">标题</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="title">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-2">跳转链接</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="url">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-2">链接类型</label>
                                                <div class="col-lg-10">
                                                    <select class="form-control" name="type">
                                                        <option value="">请选择类型</option>
                                                        <option value="1">内部链接</option>
                                                        <option value="2">外部链接</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-2">链接参数</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" name="parm">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-2">图片</label>
                                                <div class="fileinput fileinput-new input-group col-lg-8 col-lg-offset-3" data-provides="fileinput">
                                                    <div class="form-control" data-trigger="fileinput">
                                                        <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                                        <span class="fileinput-filename"></span>
                                                    </div>
                                                    <span class="input-group-addon btn btn-default btn-file">
                                                        <span class="fileinput-new">选择文件</span>
                                                        <span class="fileinput-exists">替换</span>
                                                        <input type="file" name="banner_upload">
                                                    </span>
                                                    <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">清除</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                                        <button type="button" class="btn btn-primary" onclick="upload()">保存</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 添加框 end -->
                    </div>
                </div>
            </div>
        </div>
        <include file="Public:footer"/>
    </div>
</div>
<include file="Public:js"/>
<include file="Public:methods"/>
<!-- jqGrid -->
<script src="__PUBLIC__/Admin/js/plugins/jqGrid/i18n/grid.locale-en.js"></script>
<script src="__PUBLIC__/Admin/js/plugins/jqGrid/jquery.jqGrid.min.js"></script>
<!-- Sweet alert -->
<script src="__PUBLIC__/Admin/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="__PUBLIC__/Admin/js/plugins/jasny/jasny-bootstrap.min.js"></script>
<script>
    var listUrl = window.location;
    var addUrl = "{:U($buttonData['add']['path'])}";
    var editUrl = "{:U($buttonData['edit']['path'])}";
    var delUrl = "{:U($buttonData['del']['path'])}";
    $(document).ready(function () {
        var height = $(window).height();
        $("#table").jqGrid({
            url:listUrl,
            mtype: 'POST',
            datatype: "json",
            autowidth: true,
            shrinkToFit: true,
            viewrecords: true,
            hidegrid: false,
            height: height - 250,
            rowNum: 15,
            rowList: [15, 30],
            colNames: [ '标题','图片','位置','链接','排序','状态','创建时间','操作'],
            colModel: [
                {name: 'title',align:'center'},
                {name: 'img',align:'center',
                    formatter: function (value, grid, rows, state) {
                        return '<img src="'+rows.img+'" style="width: 50px;"/>';
                    }
                },
                {name: 'location_str',align:'center'},
                {name: 'url',align:'center'},
                {name: 'sort',align:'center'},
                {name: 'state_str',align:'center',width:60,
                    formatter: function (value, grid, rows, state) {
                        var status,op = '<button type="button" class="btn btn-xs';
                        if(rows.state == 1){
                            op += ' btn-primary"';
                            status = 2;
                        }else{
                            op += ' btn-warning"';
                            status = 1;
                        }
                        if(editUrl)
                            op += ' onclick="modify(' + rows.id + ','+ status +')";';
                        return op + '">' + rows.state_str + '</button>';
                    }
                },
                {name: 'created_at_str',align:'center',width: 170},
                {name: 'operate', index: 'operate',width: 120,align:'center',
                    formatter: function (value, grid, rows, state) {
                        var op = '';
                        if(editUrl)
                            op += '<button type="button" class="btn btn-primary btn-xs" onclick="editOpen(\''+ rows.id+ '\');">编辑</button>&nbsp;';
                        if(delUrl)
                            op += '<button type="button" class="btn btn-danger btn-xs" onclick="modify(\''+ rows.id+ '\',3);">删除</button>';
                        return op;
                    }
                }
            ],
            pager: "#pager",
            jsonReader:{
                root:"data.list",
                records:"data.total"
            }
        });
    });

    function upload(){
        var formData = new FormData($("#save-form")[0]);
        formData.append("file",$("#save-form")[0]);
        var id = $('#save-form input[name="id"]').val();
        var url = id !== '' ? editUrl : addUrl;
        $.ajax({
            url: url,
            type: "POST",
            dataType: "json",
            data:formData,
            contentType: false,
            processData: false,
            success:function(res) {
                if(res.code !== 1){
                    swal({
                        title:"失败",
                        text: res.code + res.msg,
                        type: "error",
                        confirmButtonText: "确认"
                    });
                }else{
                    swal({
                        title:"",
                        text: "成功",
                        type: "success",
                        showConfirmButton:false,
                        timer: 1000
                    });
                    $('#save-form')[0].reset();
                    $('#save-modal').modal('hide');
                    $("#table").jqGrid('setGridParam', {
                        url : listUrl,
                        datatype:'json',
                        page : 1
                    }).trigger("reloadGrid"); //重新载入
                }
            }
        });
    }
</script>
</body>
</html>