<include file="Public:header"/>
<!-- Sweet Alert -->
<link href="__PUBLIC__/Admin/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<link href="__PUBLIC__/Admin/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
<style type="text/css">
    .ui-jqgrid tr.jqgrow td { white-space: normal !important; height:auto; }
</style>
<body>
<div id="wrapper">
    <include file="Public:menu"/>
    <div id="page-wrapper" class="gray-bg">
        <include file="Public:nav"/>
        <div class="wrapper wrapper-content  animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <!-- 筛选 start -->
                        <div class="ibox-title">
                            <div class="container-fluid">
                                <form class="form-inline" id="toolbar-form" onsubmit="return false;">
                                    <div class="row">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="name"
                                                   placeholder="结算单号" style="width: 100px">
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control" name="state">
                                                <option value="">渠道</option>
                                                <volist name="channels" id="item">
                                                    <option value="{$item.id}">{$item.name}</option>
                                                </volist>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control" name="state">
                                                <option value="">请选择状态</option>
                                                <option value="1">未结算</option>
                                                <option value="2">未发放</option>
                                                <option value="3">已发放</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-sm btn-primary" id="toolbar-reset">重置
                                            </button>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-sm btn-primary" id="toolbar-search">查询
                                            </button>
                                        </div>
                                        <present name="buttonData.settle">
                                            <div class="form-group pull-right">
                                                <button class="btn btn-sm btn-success" id="toolbar-create">
                                                    {$buttonData.add.title}
                                                </button>
                                            </div>
                                        </present>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- 筛选 end -->
                        <div class="ibox-content">
                            <!-- 表格 start -->
                            <div class="jqGrid_wrapper">
                                <table id="table"></table>
                                <div id="pager"></div>
                            </div>
                            <!-- 表格 end -->
                            <!-- 添加框 start -->
                            <div class="modal inmodal" id="save-modal" tabindex="-1" role="dialog"  aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content animated fadeIn">
                                        <div class="modal-body">
                                            <form class="form-horizontal" id="save-form">
                                                <div class="form-group">
                                                    <label class="control-label col-lg-2">渠道</label>
                                                    <div class="col-lg-10">
                                                        <select name="id" class="form-control">
                                                            <volist name="channels" id="item">
                                                                <option value="{$item.id}">{$item.name}</option>
                                                            </volist>
                                                        </select>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                                            <button type="button" class="btn btn-primary" onclick="save()">保存</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 添加框 end -->

                            <div class="modal inmodal" id="settle-modal" tabindex="-1" role="dialog"
                                 data-backdrop="static" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content animated fadeIn">
                                        <div class="modal-body">
                                            <div class="spiner-example">
                                                <div class="sk-spinner sk-spinner-chasing-dots">
                                                    <div class="sk-dot1"></div>
                                                    <div class="sk-dot2"></div>
                                                </div>
                                            </div>
                                            <div class="alert alert-success" style="text-align: center">
                                                <a class="alert-link" id="modal-text"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <include file="Public:footer"/>
    </div>
</div>
<include file="Public:js"/>
<!-- jqGrid -->
<script src="__PUBLIC__/Admin/js/plugins/jqGrid/i18n/grid.locale-en.js"></script>
<script src="__PUBLIC__/Admin/js/plugins/jqGrid/jquery.jqGrid.min.js"></script>
<!-- Sweet alert -->
<script src="__PUBLIC__/Admin/js/plugins/sweetalert/sweetalert.min.js"></script>
<script>
    var listUrl = window.location;
    var addUrl = "{:U($buttonData['add']['path'])}";
    var settleUrl = "{:U($buttonData['settle']['path'])}";
    var payUrl = "{:U($buttonData['pay']['path'])}";
    var detailUrl = "{:U($buttonData['detail']['path'])}";
    $(document).ready(function () {
        var height = $(window).height();
        $(window).bind('resize', function () {
            var width = $('.jqGrid_wrapper').width();
            $('#table').setGridWidth(width);
        });
        $('#toolbar-create').click(function(){
            $('#save-modal').modal('show');
        });
        $('#toolbar-edit').click(function(){
            $('#save-modal').modal('show');
            $('#modal-text').text('数据匹配中，请耐心等待。。。');
            request(editUrl,"匹配完成");
        });
        $('#toolbar-search').click(reload);
        $('#toolbar-reset').click(function(){
            $('#toolbar-form')[0].reset();
        });
        $("#table").jqGrid({
            url:listUrl,
            mtype: 'POST',
            datatype: "json",
            autowidth: true,
            shrinkToFit: true,
            viewrecords: true,
            hidegrid: false,
            height: height - 250,
            rowNum: 15,
            rowList: [15, 30],
            colNames: [ '结算编号','渠道','总佣金','渠道佣金','服务费','用户总佣金','分佣用户数','状态','操作'],
            colModel: [
                {name: 'settlement_sn',align:'center'},
                {name: 'channel_id_str',align:'center'},
                {name: 'total_amount',align:'center'},
                {name: 'real_amount',align:'center'},
                {name: 'fee_amount',align:'center'},
                {name: 'member_amount',align:'center'},
                {name: 'member_num',align:'center'},
                {name: 'state_str',align:'center',width:70,
                    formatter: function (value, grid, rows, state) {
                        var op = '<button type="button" class="btn btn-xs';
                        if(rows.state == 1){
                            op += ' btn-success"';
                        }else if(rows.state == 2){
                            op += ' btn-warning"';
                        }else{
                            op += ' btn-primary"';
                        }
                        return op + '">' + rows.state_str + '</button>';
                    }
                },
                {name: 'operate', index: 'operate',width: 120,align:'center',
                    formatter: function (value, grid, rows, state) {
                        var op = '';
                        if(settleUrl && rows.state === '1')
                            op += '<button type="button" class="btn btn-warning btn-xs" onclick="settle(\''+ rows.id+ '\');">结算</button>&nbsp;';
                        if(payUrl && rows.state === '2')
                            op += '<button type="button" class="btn btn-danger btn-xs" onclick="pay(\''+ rows.id+ '\');">发放</button>&nbsp;';
                        if(detailUrl && rows.state !== '1')
                            op += '<button type="button" class="btn btn-primary btn-xs" onclick="detailOpen(\''+ rows.id+ '\');">明细</button>&nbsp;';
                        return op;
                    }
                }
            ],
            pager: "#pager",
            jsonReader:{
                root:"data.list",
                records:"data.total"
            }
        });
    });
    function reload(){
        var postData = $('#toolbar-form').serialize();
        $("#table").jqGrid('setGridParam', {
            url : listUrl,
            datatype:'json',
            postData : postData,
            page : 1
        }).trigger("reloadGrid"); //重新载入
    }
    function save(){
        $.ajax({
            type:'POST',
            url:addUrl,
            data:$('#save-form').serialize(),
            dataType:'json',
            success: function(res){
                if(res.code !== 1){
                    swal({
                        title:"失败",
                        text: res.code + res.msg,
                        type: "error",
                        confirmButtonText: "确认"
                    });
                }else{
                    swal({
                        title:"",
                        text: "成功",
                        type: "success",
                        showConfirmButton:false,
                        timer: 1000
                    });
                    $('#save-form')[0].reset();
                    $('#save-modal').modal('hide');
                    $("#table").jqGrid('setGridParam', {
                        url : listUrl,
                        datatype:'json',
                        page : 1
                    }).trigger("reloadGrid"); //重新载入
                }
            }
        });
    }
    function request(url,id,text){
        $.ajax({
            type:'POST',
            url:url,
            data:{id:id},
            dataType:'json',
            success: function(res){
                if(res.code !== 1){
                    $('#settle-modal').modal('hide');
                    swal({
                        title:"",
                        text: text,
                        type: "success",
                        showConfirmButton:false,
                        timer: 1000
                    });
                    reload()
                }else{
                    request(url,id,text)
                }
            }
        });
    }
    function settle(id){
        $('#settle-modal').modal('show');
        $('#modal-text').text('佣金结算中，请耐心等待。。。');
        request(settleUrl,id,'结算完成')
    }
    function pay(id){
        $('#settle-modal').modal('show');
        $('#modal-text').text('佣金发放中，请耐心等待。。。');
        request(payUrl,id,'发放完成')
    }
    function detailOpen(id){
        if(detailUrl){
            window.location.href = detailUrl + '?id=' +id
        }
    }
</script>
</body>
</html>