<include file="Public:header"/>
<!-- Sweet Alert -->
<link href="__PUBLIC__/Admin/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<link href="__PUBLIC__/Admin/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
<style type="text/css">
    .ui-jqgrid tr.jqgrow td { white-space: normal !important; height:auto; }
</style>
<body>
<div id="wrapper">
    <include file="Public:menu"/>
    <div id="page-wrapper" class="gray-bg">
        <include file="Public:nav"/>
        <div class="wrapper wrapper-content  animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <!-- 筛选 start -->
                        <div class="ibox-title">
                            <div class="container-fluid">
                                <form class="form-inline" id="toolbar-form" onsubmit="return false;">
                                    <div class="row">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="settle_sn"
                                                   placeholder="结算单号" style="width: 200px">
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control" name="state">
                                                <option value="">请选择状态</option>
                                                <volist name="state" id="item">
                                                    <option value="{$key}">{$item}</option>
                                                </volist>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-sm btn-primary" id="toolbar-reset">重置
                                            </button>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-sm btn-primary" id="toolbar-search">查询
                                            </button>
                                        </div>
                                        <present name="buttonData.settle">
                                            <div class="form-group pull-right">
                                                <button class="btn btn-sm btn-success" id="toolbar-create">
                                                    {$buttonData.add.title}
                                                </button>
                                            </div>
                                        </present>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- 筛选 end -->
                        <div class="ibox-content">
                            <!-- 表格 start -->
                            <div class="jqGrid_wrapper">
                                <table id="table"></table>
                                <div id="pager"></div>
                            </div>
                            <!-- 表格 end -->

                            <div class="modal inmodal" id="save-modal" tabindex="-1" role="dialog"
                                 data-backdrop="static" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content animated fadeIn">
                                        <div class="modal-body">
                                            <div class="spiner-example">
                                                <div class="sk-spinner sk-spinner-chasing-dots">
                                                    <div class="sk-dot1"></div>
                                                    <div class="sk-dot2"></div>
                                                </div>
                                            </div>
                                            <div class="alert alert-success" style="text-align: center">
                                                <a class="alert-link" id="modal-text"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <include file="Public:footer"/>
    </div>
</div>
<include file="Public:js"/>
<!-- jqGrid -->
<script src="__PUBLIC__/Admin/js/plugins/jqGrid/i18n/grid.locale-en.js"></script>
<script src="__PUBLIC__/Admin/js/plugins/jqGrid/jquery.jqGrid.min.js"></script>
<!-- Sweet alert -->
<script src="__PUBLIC__/Admin/js/plugins/sweetalert/sweetalert.min.js"></script>
<script>
    var listUrl = window.location;
    var addUrl = "{:U($buttonData['add']['path'])}";
    var settleUrl = "{:U($buttonData['settle']['path'])}";
    var payUrl = "{:U($buttonData['pay']['path'])}";
    var detailUrl = "{:U($buttonData['detail']['path'])}";
    var partnerUrl = "{:U($buttonData['partner']['path'])}";
    var statUrl = "{:U($buttonData['stat']['path'])}";
    $(document).ready(function () {
        var height = $(window).height();
        $(window).bind('resize', function () {
            var width = $('.jqGrid_wrapper').width();
            $('#table').setGridWidth(width);
        });
        $('#toolbar-create').click(function(){
            $.ajax({
                type:'POST',
                url:addUrl,
                dataType:'json',
                success: function(res){
                    if(res.code !== 1){
                        swal({
                            title:"失败",
                            text: res.code + res.msg,
                            type: "error",
                            confirmButtonText: "确认"
                        });
                    }else{
                        swal({
                            title:"",
                            text: "成功",
                            type: "success",
                            showConfirmButton:false,
                            timer: 1000
                        });
                        $("#table").jqGrid('setGridParam', {
                            url : listUrl,
                            datatype:'json',
                            page : 1
                        }).trigger("reloadGrid"); //重新载入
                    }
                }
            });
        });
        $('#toolbar-search').click(reload);
        $('#toolbar-reset').click(function(){
            $('#toolbar-form')[0].reset();
        });
        $("#table").jqGrid({
            url:listUrl,
            mtype: 'POST',
            datatype: "json",
            autowidth: true,
            shrinkToFit: true,
            viewrecords: true,
            hidegrid: false,
            height: height - 250,
            rowNum: 15,
            rowList: [15, 30],
            colNames: [ '结算编号','总佣金','发放佣金','分佣用户数','状态','结算时间','发放时间','操作'],
            colModel: [
                {name: 'settlement_sn',align:'center'},
                {name: 'total_amount',align:'center'},
                {name: 'pay_amount',align:'center'},
                {name: 'member_num',align:'center'},
                {name: 'state_str',align:'center',width:70,
                    formatter: function (value, grid, rows, state) {
                        var op = '<button type="button" class="btn btn-xs';
                        if(rows.state == 1){
                            op += ' btn-success"';
                        }else if(rows.state == 2){
                            op += ' btn-warning"';
                        }else{
                            op += ' btn-primary"';
                        }
                        return op + '">' + rows.state_str + '</button>';
                    }
                },
                {name: 'settle_time_str',align:'center'},
                {name: 'pay_time_str',align:'center'},
                {name: 'operate', index: 'operate',width: 120,align:'center',
                    formatter: function (value, grid, rows, state) {
                        var op = '';
                        if(settleUrl && (rows.state === '0' || rows.state === '4'))
                            op += '<button type="button" class="btn btn-warning btn-xs" onclick="settle(\''+ rows.id+ '\');">结算</button>&nbsp;';
                        if(payUrl && (rows.state === '2' || rows.state === '7'))
                            op += '<button type="button" class="btn btn-danger btn-xs" onclick="pay(\''+ rows.id+ '\');">发放</button>&nbsp;';
                        if(partnerUrl && rows.state >= 2  && (rows.status === '-' || rows.status === '0'))
                            op += '<button type="button" class="btn btn-primary btn-xs" onclick="partner(\''+ rows.id+ '\');">合伙人</button>&nbsp;';
                        if(detailUrl && rows.state !== '0' && rows.state !== '1' && rows.state !== '4'){
                            op += '<button type="button" class="btn btn-primary btn-xs" onclick="statOpen(\''+ rows.id+ '\');">分佣汇总</button>&nbsp;';
                            op += '<button type="button" class="btn btn-primary btn-xs" onclick="detailOpen(\''+ rows.id+ '\');">明细</button>&nbsp;';
                        }
                        return op;
                    }
                }
            ],
            pager: "#pager",
            jsonReader:{
                root:"data.list",
                records:"data.total"
            }
        });
    });
    function reload(){
        var postData = $('#toolbar-form').serialize();
        $("#table").jqGrid('setGridParam', {
            url : listUrl,
            datatype:'json',
            postData : postData,
            page : 1
        }).trigger("reloadGrid"); //重新载入
    }
    function request(url,id,text){
        $.ajax({
            type:'GET',
            url:url,
            data:{id:id},
            dataType:'json',
            success: function(res){
                if(res.code == 1){
                    $('#save-modal').modal('hide');
                    swal({
                        title:"",
                        text: text,
                        type: "success",
                        showConfirmButton:false,
                        timer: 1000
                    });
                    reload()
                }else if(res.code == 40003 || res.code == 40005){
                    $('#save-modal').modal('hide');
                    swal({
                        title:"",
                        text: res.msg,
                        type: "error",
                        confirmButtonText: "确认"
                    });
                }else{
                    setTimeout(function(){
                        request(url,id,text)
                    },3000);
                }
            }
        });
    }
    function settle(id){
        $('#modal-text').text('佣金结算中，请耐心等待。。。');
        $('#save-modal').modal('show');
        $.ajax({
            type:'POST',
            url:settleUrl,
            data:{id:id},
            dataType:'json',
            success: function(res){
                if(res.code == 1){
                    request(settleUrl,id,"结算完成");
                }else{
                    $('#save-modal').modal('hide');
                    swal({
                        title:"",
                        text: res.msg,
                        type: "error",
                        confirmButtonText: "确认"
                    });
                }
            }
        });
    }
    function pay(id){
        $('#modal-text').text('佣金发放中，请耐心等待。。。');
        $('#save-modal').modal('show');
        $.ajax({
            type:'POST',
            url:payUrl,
            data:{id:id},
            dataType:'json',
            success: function(res){
                if(res.code == 1){
                    request(payUrl,id,"发放完成");
                }else{
                    $('#save-modal').modal('hide');
                    swal({
                        title:"",
                        text: res.msg,
                        type: "error",
                        confirmButtonText: "确认"
                    });
                }
            }
        });
    }
    function detailOpen(id){
        if(detailUrl){
            window.location.href = detailUrl + '?id=' +id
        }
    }
    function statOpen(id){
        if(statUrl){
            window.location.href = statUrl + '?id=' +id
        }
    }
    function partner(id){
        $('#modal-text').text('合伙人收入结算中，请耐心等待。。。');
        $('#save-modal').modal('show');
        $.ajax({
            type:'POST',
            url:partnerUrl,
            data:{id:id},
            dataType:'json',
            success: function(res){
                if(res.code == 1){
                    request(partnerUrl,id,"结算完成");
                }else{
                    $('#save-modal').modal('hide');
                    swal({
                        title:"",
                        text: res.msg,
                        type: "error",
                        confirmButtonText: "确认"
                    });
                }
            }
        });
    }
</script>
</body>
</html>