<include file="Public:header"/>
<link href="__PUBLIC__/Admin/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
<!-- Sweet Alert -->
<link href="__PUBLIC__/Admin/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<style type="text/css">
    .ui-jqgrid tr.jqgrow td { white-space: normal !important; height:auto; }
</style>
<body>
<div id="wrapper">
    <include file="Public:menu"/>
    <div id="page-wrapper" class="gray-bg">
        <include file="Public:nav"/>
        <div class="wrapper wrapper-content  animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <!-- 筛选 start -->
                        <div class="ibox-title">
                            <div class="container-fluid">
                                <form class="form-inline" id="toolbar-form" onsubmit="return false;">
                                    <div class="row">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="usa"
                                                   placeholder="用户名" style="width: 100px">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="name"
                                                   placeholder="姓名" style="width: 100px">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="phone"
                                                   placeholder="手机" style="width: 120px">
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control" name="state">
                                                <option value="">请选择状态</option>
                                                <option value="1">启用</option>
                                                <option value="2">禁用</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" id="toolbar-datepicker" name="create_from" class="form-control"
                                                   style="width: 180px;" placeholder="创建时间"/>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-sm btn-primary" id="toolbar-reset">重置
                                            </button>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-sm btn-primary" id="toolbar-search">查询
                                            </button>
                                        </div>
                                        <div class="form-group pull-right">
                                            <button class="btn btn-sm btn-success" type="button" data-toggle="modal"  data-target="#myModal4">添加
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- 筛选 end -->
                        <div class="ibox-content">
                            <!-- 表格 start -->
                            <div class="jqGrid_wrapper">
                                <table id="table"></table>
                                <div id="pager"></div>
                            </div>
                            <!-- 表格 end -->
                            <!-- 添加框 start -->
                            <div class="modal inmodal" id="myModal4" tabindex="-1" role="dialog"  aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content animated fadeIn">
                                        <div class="modal-body">
                                            <form class="form-horizontal" id="form-admin">
                                                <div class="form-group">
                                                    <label class="control-label col-lg-2">角&ensp;&ensp;色</label>
                                                    <div class="col-lg-10">
                                                        <select class="form-control" name="role_id">
                                                            <option value="">请选择状态</option>
                                                            <option value="1">启用</option>
                                                            <option value="2">禁用</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-lg-2">用户名</label>
                                                    <div class="col-lg-10">
                                                        <input type="text" class="form-control" name="usa">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-lg-2">姓&ensp;&ensp;名</label>
                                                    <div class="col-lg-10">
                                                        <input type="text" class="form-control" name="name">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-lg-2">手&ensp;&ensp;机</label>
                                                    <div class="col-lg-10">
                                                        <input type="text" class="form-control" name="phone">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-lg-2">密&ensp;&ensp;码</label>
                                                    <div class="col-lg-10">
                                                        <input type="password" class="form-control" name="pswd">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                                            <button type="button" class="btn btn-primary save-admin" onclick="edit(0)">保存</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 添加框 end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <include file="Public:footer"/>
    </div>
</div>
<include file="Public:js"/>
<!-- jqGrid -->
<script src="__PUBLIC__/Admin/js/plugins/jqGrid/i18n/grid.locale-en.js"></script>
<script src="__PUBLIC__/Admin/js/plugins/jqGrid/jquery.jqGrid.min.js"></script>
<!-- Data picker -->
<script src="__PUBLIC__/Admin/js/plugins/datapicker/bootstrap-datepicker.js"></script>
<!-- Sweet alert -->
<script src="__PUBLIC__/Admin/js/plugins/sweetalert/sweetalert.min.js"></script>
<script>
    var url = "{:U('system/user/records')}";
    $(document).ready(function () {
        var height = $(window).height();
        $("#table").jqGrid({
            url:url,
            mtype: 'POST',
            datatype: "json",
            autowidth: true,
            shrinkToFit: true,
            viewrecords: true,
            hidegrid: false,
            height: height - 300,
            rowNum: 15,
            rowList: [15, 30],
            colNames: ['ID','用户名','姓名','手机','角色','状态','登录次数','登录时间','创建时间','操作'],
            colModel: [
                {name: 'id',align:'center',width:60},
                {name: 'usa',align:'center'},
                {name: 'name',align:'center'},
                {name: 'phone',align:'center'},
                {name: 'role_id_str',align:'center'},
                {name: 'state_str',align:'center',width:60},
                {name: 'login_num',align:'center'},
                {name: 'login_time_str',align:'center',width: 170},
                {name: 'created_at_str',align:'center',width: 170},
                {name: 'operate', index: 'operate',width: 170,
                    formatter: function (value, grid, rows, state) {
                        var op = '<button type="button" class="btn btn-primary btn-xs" onclick="editOpen(\''+ rows.id+ '\');">编辑</button>';
                        if(rows.state == 1){
                            op += '<button type="button" class="btn btn-warning btn-xs" onclick="modify(\''+ rows.id+ '\',2);">禁用</button>';
                        }else{
                            op += '<button type="button" class="btn btn-warning btn-xs" onclick="modify(\''+ rows.id+ '\',1);">启用</button>';
                        }
                        return op + '<button type="button" class="btn btn-danger btn-xs" onclick="modify(\''+ rows.id+ '\',3);">删除</button>';
                    }
                }
            ],
            pager: "#pager",
            jsonReader:{
                root:"data.list",
                records:"data.total"
            }
        });
        $(window).bind('resize', function () {
            var width = $('.jqGrid_wrapper').width();
            $('#table').setGridWidth(width);
        });
        $('#toolbar-search').click(function(){
            var postData = $('#toolbar-form').serialize();
            $("#table").jqGrid('setGridParam', {
                url : url,
                datatype:'json',
                postData : postData,
                page : 1
            }).trigger("reloadGrid"); //重新载入
        });
        $('#toolbar-reset').click(function(){
            $('#toolbar-form')[0].reset();
        });
        $('#toolbar-datepicker').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true
        });
    });

    function save(data){
        $.ajax({
            type:'POST',
            url:"{:U('system/user/save')}",
            data:data,
            dataType:'json',
            success: function(res){
                if(res.code !== 1){
                    swal({
                        title:"失败",
                        text: res.code + res.msg,
                        type: "error",
                        confirmButtonText: "确认"
                    });
                }else{
                    swal({
                        title:"",
                        text: "成功",
                        type: "success",
                        confirmButtonText: "确认"
                    });
                    $('#form-admin')[0].reset();
                    $('#myModal4').modal('hide');
                    $("#table").jqGrid('setGridParam', {
                        url : url,
                        datatype:'json',
                        page : 1
                    }).trigger("reloadGrid"); //重新载入
                }
            }
        });
    }

    function edit(id){
        var data = $('#form-admin').serialize();
        if(id){
            data.id = id;
        }
        save(data)
    }

    function modify(id,state){
        var msg = {
            1:'启用',
            2:'禁用',
            3:'删除'
        };
        swal({
            title: msg[state],
            text: "确认"+ msg[state]+"吗？",
            type: "warning",
            showCancelButton: true,
            confirmButtonText: "确认",
            cancelButtonText: "取消",
            closeOnConfirm:false,
            closeOnCancel:false
        },function(isConfirm){
            if(isConfirm){
                save({
                    id:id,
                    state:state
                })
            }
        })
    }

    function editOpen(id){
        $('#myModal4').modal('show');
    }
</script>
</body>
</html>